
.Section_button {
    position: relative;

    cursor: pointer;
    z-index: 1;
   
    border: none;
    display: inline-block;
  
    transition: color 1s; 
}

.Section_button::before {
    content: '';
    position: absolute;
    inset: 0;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1.80s;
    z-index: -1;
    background-color: #2d328e; 
}

.Section_button:hover::before {
    clip-path: circle(150% at 50% 50%);
}
.Section__title{
    font-family:'Times New Roman', Times, serif;
}


.Section__button {
    position: relative;
    overflow: hidden;

    cursor: pointer;
    z-index: 1;
  
    border: none;
    display: inline-block;
   
    transition: color 1s; 
}

.Section__button::before {
    content: '';
    position: absolute;
    inset: 0;
    clip-path: circle(0% at 50% 50%);
    transition: clip-path 1.80s;
    z-index: -1;
  
}

.Section__button:hover::before {
    clip-path: circle(150% at 50% 50%);
}

.Section__button:hover {
    color: #2d328e;
  
}
.Section__number{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold';
    
}
.Section_title{
    
    font-family:'Times New Roman', Times, serif;
}

.Section_title{
    font-family:'Times New Roman', Times, serif;
}